# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IDE file
*.iml

#folder
Server/box/.gradle/
Server/box/.idea/
Server/box/build/
Server/box/log/
Server/box/box-api/build/
Server/box/box-api/target/

Server/box/box-context/build/
Server/box/box-context/target/

Server/box/box-console-mqtt/build/
Server/box/box-console-mqtt/target/

Server/box/box-impl/build/
Server/box/box-impl/target/

Server/box/box-test/build/
Server/box/box-test/target/

Server/box/box-web/build/
Server/box/box-web/target/

Server/common-util/.idea/
Server/common-util/build/
Server/common-util/target/
Server/restful-core/.idea/
Server/restful-core/build/
Server/restful-core/target/




