<!DOCTYPE html>
<html lang="en" ng-app="weconweb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" href="../lib/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="margin-top: 20px;" ng-controller="infoController" ng-init="onInit()">
<ol class="breadcrumb">
    <li><a href="overview.html">主页</a></li>
    <li class="active">{{device_name}}</li>
</ol>
<ul class="nav nav-pills nav-justified" role="tablist">
    <li><a href="datamonitor.html?device_id={{device_id}}&device_name={{device_name}}">数据监控</a></li>
    <li><a href="alarmlog.html?device_id={{device_id}}&device_name={{device_name}}">报警记录</a></li>
    <li><a href="historydata.html?device_id={{device_id}}&device_name={{device_name}}">历史数据</a></li>
    <li class="active" ng-if="accounttype==1&&device_id>0"><a href="baseinfo.html?device_id={{device_id}}&device_name={{device_name}}">基本配置</a></li>
</ul>
<div class="container-fluid" style="margin-top: 40px;">
    <ul class="nav nav-tabs" role="tablist" id="baseConfigTab">
        <li class="active"><a href="#base-info" data-toggle="tab">基本信息</a></li>
        <li><a href="#com-port" data-toggle="tab" ng-click="initPlcSetting()">通讯口配置</a></li>
        <!--<li><a href="#entry-statistic" data-toggle="tab">条目统计</a></li>-->
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="base-info">
            <!-- 基本信息展示-->
            <div class="container-fluid" style="margin-top: 20px;font-size: 15px;">
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">PIBox名称</span>、
                    <div class="form-group col-md-4" style="display: inline-block;">
                        <input type="text" class="form-control" style="margin-left: 20px;"
                               id="PIBoxName" name="PIBoxName"
                               value="{{infoData.name}}">
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">设备ID</span>
                    <span style="font-weight: bold;margin-left: 20px;">{{infoData.device_id}}</span>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">在线状态</span>
                    <span style="font-weight: bold;margin-left: 20px;">{{infoData.state==1?'在线':'离线'}}</span>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">机器码</span>
                    <span style="font-weight: bold;margin-left: 20px;">{{infoData.machine_code}}</span>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">设备型号</span>
                    <span style="font-weight: bold;margin-left: 20px;">{{infoData.dev_model}}</span>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">地图信息</span>
                    <span style="font-weight: bold;margin-left: 20px;">（{{infoData.map}}）</span>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">更新时间</span>
                    <span style="font-weight: bold;margin-left: 20px;">{{infoData.update_date|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">创建时间</span>
                    <span style="font-weight: bold;margin-left: 20px;">{{infoData.create_date|date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </div>

                <div class="row" style="margin-top:20px;">
                    <span class="col-md-1">备注信息</span>

                    <div class="form-group col-md-5" style="display: inline-block;">
                        <textarea class="form-control" id="remark" rows="4">{{infoData.remark}}</textarea>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">高级功能</span>
                    <!--<div class="btn-group" style="margin-left: 10px;">-->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePIBox">
                        删除PIBox
                    </button>
                    <button type="button" class="btn btn-info" ng-click="chgPiboxInFoName(infoData.device_id)">保存修改</button>
                    <!--<button type="button" class="btn btn-danger">重启PIBox</button>-->
                    <!--<button type="button" class="btn btn-danger">清除PIBox数据</button>-->
                    <!--<button type="button" class="btn btn-warning">强制同步</button>-->

                    <!--<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">-->
                    <!--<span class="caret"></span>-->
                    <!--<span class="sr-only">切换下拉菜单</span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu pull-right" role="menu">-->
                    <!--<li><a href="#">分享PIBox</a></li>-->
                    <!--<li><a href="#">复制PIBox</a></li>-->
                    <!--<li><a href="#">移交PIBox</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">切换域名</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
            <!-- 删除PIBox模态框（Modal） -->
            <div class="modal fade" id="deletePIBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                确定删除
                            </h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="deletePIBoxBtn(device_id)">
                                提交
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

        </div>
        <!--------------------------------------------------------------------------------------------- 通讯口配置--------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="tab-pane" id="com-port">
            <!--通讯口展示-->
            <div class="container-fluid">
                <div class="row" style="margin-top: 40px;">
                    <table class="table table-bordered">
                        <caption>
                            <!--data-target="#addConfig"-->
                            <button class="btn btn-primary" data-toggle="modal"
                                    style="text-decoration: none" ng-click="cleanInput()">
                                <span class="fa fa-indent"></span> 添加
                            </button>
                        </caption>
                        <thead>
                        <tr>
                            <th>plcID</th>
                            <th>编号</th>
                            <th>通讯接口</th>
                            <th>串口协议</th>
                            <th>驱动名称</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr ng-repeat="x in infoDatas">
                            <td>{{x.plcId}}</td>
                            <td>{{$index + 1}}</td>
                            <td>{{x.port}}</td>
                            <td>{{x.comtype==0?'RS232':(x.comtype==1?'RS485':'RS422')}}</td>
                            <td>{{x.type}}</td>
                            <td>{{x.state==0?'已同步给盒子':(x.state==1?'新增配置':(x.state==2?'更新配置':'删除配置'))}}</td>
                            <td>
                                <a href="#" data-toggle="modal" data-target="#addConfig" ng-if="x.state!=3"
                                   ng-click="setplc_id(x.plcId)"><span
                                        class="glyphicon glyphicon-edit" title="编辑"
                                        style="color:#2889d0;margin:10px;"></span></a>
                                <a href="#" ng-click="unbundledPlc(x.plcId)"><span class="glyphicon glyphicon-trash"
                                                                                   title="删除此配置"
                                                                                   style="color:#2889d0;margin:10px;"></span></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>

            <!--添加通信口配置-->
            <div class="modal" id="addConfig" tabindex="-1" data-backdrop="false">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            <h4 class="modal-title">添加通信口配置</h4>
                        </div>
                        <div class="modal-body" style="padding-right: 45px">
                            <div class="container-fluid">

                                <!--
                                 隐藏plc_id
                                当plc_id为默认值0时候  就是新增用户
                                当plc_id为非0数值时候  就是修改改plc_id的内容

                                 -->
                                <input type="hidden" id="plc_id" value="0"/>
                                <input type="hidden" id="driver"/>

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5">设备ID</span>
                                            <input class="col-md-7" name="device_id" id="device_id"
                                                   style="height: 30px; cursor: not-allowed;" disabled/>
                                        </div>
                                        <div class="col-md-6 " style="margin: 10px 0;">

                                            <span class="col-md-5"><span style="color: red">*</span>通讯协议</span>
                                            <select class="col-md-7" name="port" style="height: 30px;" id="port"
                                                    ng-change="chgPort()" ng-model="selectedPort">
                                                <option value="COM1">COM1</option>
                                                <option value="COM2">COM2</option>
                                                <option value="Ethernet">Ethernet</option>
                                                <option value="USB">USB</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>设备类型</span>
                                            <select class="col-md-7" style="height: 30px;" ng-model="selectedPtype"
                                                    id="ptype"
                                                    ng-change="chgPtype()">
                                                <option ng-repeat="x in pTypeSet" value="{{x}}">{{x}}</option>
                                            </select>
                                        </div>

                                        <div class=" col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>驱动名称</span>
                                            <select class="col-md-7" style="height: 30px;" id="type" name="type"
                                                    ng-model="selectedType" ng-change="chgType()">
                                                <option ng-repeat="x in pType" value="{{x.type}}">{{x.type}}</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>盒子站号</span>
                                            <input class="col-md-7" style="height: 30px;" type="number"
                                                   name="box_stat_no"
                                                   id="box_stat_no"/>
                                        </div>
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>PLC站号</span>
                                            <input class="col-md-7" style="height: 30px;" name="plc_stat_no"
                                                   type="number"
                                                   id="plc_stat_no"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>重试次数</span>
                                            <input class="col-md-7" style="height: 30px;" type="number"
                                                   name="retry_times"
                                                   id="retry_times"/>
                                        </div>
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>等待超时 ms</span>
                                            <input class="col-md-7" style="height: 30px;" type="number"
                                                   name="wait_timeout"
                                                   id="wait_timeout"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>接收超时 ms</span>
                                            <input class="col-md-7" style="height: 30px;" type="number"
                                                   name="rev_timeout"
                                                   id="rev_timeout"/>
                                        </div>
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>连续长度</span>
                                            <input class="col-md-7" style="height: 30px;" type="number"
                                                   name="com_stepinterval"
                                                   id="com_stepinterval"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>通讯延迟时间 ms</span>
                                            <input class="col-md-7" style="height: 30px;" type="number"
                                                   name="com_iodelaytime"
                                                   id="com_iodelaytime"/>
                                        </div>
                                        <div class="col-md-6 " style="margin: 10px 0;">
                                            <span class="col-md-5"><span style="color: red">*</span>重试超时 s</span>
                                            <input class="col-md-7" style="height: 30px;" type="number"
                                                   name="retry_timeout"
                                                   id="retry_timeout"/>
                                        </div>
                                    </div>

                                    <!--串口参数设置-->
                                    <div ng-show="portIfShow==1">
                                        <div class="row">
                                            <div class="col-md-12" style="margin: 10px 0;">
                                                <span class="col-md-2"><span style="color: red">*</span>波特率</span>
                                                <input class="col-md-10" style="height: 30px;" type="number"
                                                       name="baudrate"
                                                       id="baudrate"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 " style="margin: 10px 0;">
                                                <span class="col-md-5"><span style="color: red">*</span>串口协议</span>
                                                <select class="col-md-7" style="height: 30px;" name="comtype"
                                                        id="comtype">
                                                    <option value="0">RS232</option>
                                                    <option value="1">RS485</option>
                                                    <option value="2">RS422</option>
                                                </select>

                                            </div>
                                            <div class="col-md-6 " style="margin: 10px 0;">
                                                <span class="col-md-5"><span style="color: red">*</span>停止位</span>
                                                <select class="col-md-7" style="height: 30px;" name="stop_bit"
                                                        id="stop_bit">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 " style="margin: 10px 0;">
                                                <span class="col-md-5"><span style="color: red">*</span>数据位</span>
                                                <select class="col-md-7" style="height: 30px;" name="data_length"
                                                        id="data_length">
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 " style="margin: 10px 0;">
                                                <span class="col-md-5"><span style="color: red">*</span>校验位</span>
                                                <select class="col-md-7" style="height: 30px;" name="check_bit"
                                                        id="check_bit">
                                                    <option value="EVEN">EVEN</option>
                                                    <option value="NONE">NONE</option>
                                                    <option value="ODD">ODD</option>
                                                    <option value="SPACE">SPACE</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="ethernetShow==1">

                                        <div class="row">
                                            <div class="col-md-6 " style="margin: 10px 0;">
                                                <span class="col-md-5"><span style="color: red">*</span>端口</span>
                                                <input class="col-md-7" style="height: 30px;" type="number"
                                                       name="net_port"
                                                       id="net_port"/>
                                            </div>
                                            <div class="col-md-6 " style="margin: 10px 0;">
                                                <span class="col-md-5"><span style="color: red">*</span>网络类型</span>
                                                <select class="col-md-7" style="height: 30px;" name="net_type"
                                                        id="net_type">
                                                    <option value="0">tcp_client</option>
                                                    <option value="1">udp_client</option>
                                                    <option value="2">tcp_client_2n</option>
                                                    <option value="3">udp_client_2n</option>
                                                    <option value="4">tcp_server</option>
                                                    <option value="5">udp_server</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 " style="margin: 10px 0;">
                                             <span class="col-md-7">
                                            <span style="color: red">*</span>
                                            使用广播地址</span>
                                             <span class="col-md-5">
                                                 <input type="checkbox"
                                                        ng-click="isBroadcast()"
                                                        name="net_isbroadcast"
                                                        id="net_isbroadcast"/>
                                                 </span>

                                                <!--<span class="col-md-8"><span style="color: red">*</span>使用广播地址</span>-->
                                                <!--<input class="col-md-4" style="height: 30px; margin-left: 0px" type="checkbox"-->
                                                <!--ng-click="isBroadcast()"-->
                                                <!--name="net_isbroadcast"-->
                                                <!--id="net_isbroadcast"/>-->
                                            </div>
                                            <div class="col-md-6 " style="margin: 10px 0;">
                                                <span class="col-md-5"><span style="color: red">*</span>广播地址站号</span>
                                                <input class="col-md-7" style="height: 30px;cursor: default"
                                                       type="number"
                                                       name="net_broadcastaddr"
                                                       id="net_broadcastaddr"/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 " style="margin: 10px 0;">
                                                <span class="col-md-5"><span style="color: red">*</span>IP地址</span>
                                                <input class="col-md-7" style="height: 30px;" name="net_ipaddr"
                                                       id="net_ipaddr"/>
                                            </div>
                                            <!--<div class="col-md-6 " style="margin: 10px 0;">-->
                                            <!--<span class="col-md-5"><span style="color: red">*</span>state</span>-->
                                            <!--<input class="col-md-7" style="height: 30px;" type="number" name="state"-->
                                            <!--id="state"/>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" ng-click="addPlcInfosetting_submit()">确定</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="entry-statistic">
            <div class="container-fluid" style="margin-top: 10px;">
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">数据监控</span>

                    <div class="progress" style="width: 300px;">
                        <div class="progress-bar progress-bar-info progress-bar-striped active"
                             style="min-width:5px;width:50%;color: black;font-weight: bold">250/500
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">报警记录</span>

                    <div class="progress" style="width: 300px;">
                        <div class="progress-bar progress-bar-info progress-bar-striped active"
                             style="min-width:5px;width:0.5%;color: black;font-weight: bold">1/200
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <span class="col-md-1">历史记录</span>

                    <div class="progress" style="width: 300px;">
                        <div class="progress-bar progress-bar-info progress-bar-striped active"
                             style="min-width:5px;width:4%;color: black;font-weight: bold">4/100
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <span class="col-md-1">说明</span>
                    <span>12/100 分别表示 已经使用条目数/可以使用总条目数，相同条目不重复统计。</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../lib/jquery/jquery-3.2.1.min.js"></script>
<script src="../lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../lib/bootstrap/select/js/bootstrap-select.js"></script>
<script src="../lib/angular/angular.min.js" type="text/javascript"></script>
<script src="../lib/wecon-common.js"></script>
<script src="../js/baseinfo.js"></script>
</body>

</html>