<!DOCTYPE html>
<html lang="en" ng-app="weconweb">
<head>
<meta charset="UTF-8">
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../css/style.css" />
<link rel="stylesheet"
	href="../lib/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="../lib/jquery/jquery-3.2.1.min.js"></script>
<script src="../lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="../lib/font-awesome/4.7.0/css/font-awesome.min.css">
<!--日期选择器需要用到下列文件-->
<!--参考文档地址：www.bootcss.com/p/bootstrap-datetimepicker/index.htm-->
<!--github地址：https://github.com/smalot/bootstrap-datetimepicker-->
<link rel="stylesheet"
	href="../lib/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css">
<script
	src="../lib/bootstrap/datetimepicker/js/bootstrap-datetimepicker.js"></script>
</head>
<body ng-controller="infoController" ng-init="onInit()">
	<div class="container-fluid" style="margin-top: 20px;">
		<div class="row">
			<div>
				<span class="col-md-1" style="height: 30px; line-height: 30px;">通道</span>
				<select id="comid" class="col-md-3" style="height: 35px;">
					<option ng-repeat="x in commonitors" value={{x.plc_id}}>{{x.com}}</option>
				</select>
			</div>
			<div>
				<span class="col-md-1"
					style="height: 30px; line-height: 30px; margin-left: 30px">监控点</span>
				<select id="monitorid" class="col-md-3" style="height: 35px;">
					<option ng-repeat="x in commonitors_item" value={{x.monitorid}}>{{x.monitordata}}</option>
				</select>
			</div>
			<div class="btn-group" style="margin-left: 20px;">
				<button type="button" class="btn btn-primary">列表</button>
				<button type="button" class="btn btn-default">曲线</button>
			</div>
		</div>
		<div class="row" style="margin-top: 20px;">
			<div style="display: inline-block; margin-left: -15px;"
				class="col-md-4">
				<span class="col-md-3" style="height: 30px; line-height: 30px;">起始日期</span>
				<div class="input-group date form_datetime col-md-9"
					data-date="1979-09-16T05:25:07Z"
					data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
					<input id="startdateid" class="form-control" size="16" type="text"
						value="" readonly> <span class="input-group-addon"><span
						class="glyphicon glyphicon-remove"></span></span> <span
						class="input-group-addon"><span
						class="glyphicon glyphicon-th"></span></span>
				</div>
			</div>
			<div style="float: left; display: inline-block; margin-left: 35px;"
				class="col-md-4">
				<span class="col-md-3" style="height: 30px; line-height: 30px;">结束日期</span>
				<div class="input-group date form_datetime col-md-9"
					data-date="1979-09-16T05:25:07Z"
					data-date-format="yyyy-mm-dd hh:ii" data-link-field="dtp_input1">
					<input id="enddateid" class="form-control" size="16" type="text"
						value="" readonly> <span class="input-group-addon"><span
						class="glyphicon glyphicon-remove"></span></span> <span
						class="input-group-addon"><span
						class="glyphicon glyphicon-th"></span></span>
				</div>
			</div>
			<button type="button" class="btn btn-primary"
				style="margin-left: 30px;" ng-click="searchHisData()">
				<span class="glyphicon glyphicon-search"></span>
			</button>
			<button type="button" class="btn btn-primary" disabled>
				<span class="glyphicon glyphicon-share"></span>
			</button>
			<button type="button" class="btn btn-primary" disabled>
				<span class="glyphicon glyphicon-new-window"></span>
			</button>
		</div>
		<table class="table table-bordered" style="margin-top: 20px;">
			<thead>
				<tr>
					<th class="col-md-4">时间</th>
					<th class="col-md-8">数值</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in Hisdatas">

					<td>{{x.monitor_time|date:'yyyy-MM-dd HH:mm:ss'}}</td>
					<td>{{x.value}}</td>


				</tr>

			</tbody>

		</table>
	</div>
	<script>
		$('.form_datetime').datetimepicker({
			//language:  'fr',
			weekStart : 1,
			todayBtn : 1,
			autoclose : 1,
			todayHighlight : 1,
			startView : 2,
			forceParse : 0,
			showMeridian : 1,
			pickerPosition : "bottom-left"
		});
	</script>


</body>

<script src="../lib/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../lib/bootstrap/3.3.7/js/bootstrap.min.js"
	type="text/javascript"></script>
<script src="../lib/angular/angular.min.js" type="text/javascript"></script>
<script src="../lib/wecon-common.js" type="text/javascript"></script>
<script src="../js/originaldata.js" type="text/javascript"></script>
</html>